## <font color=pink> 피드백 </font>

<font color=pink>
1. EDA까지 해주셨다면 좋았을 것 같습니다.<br>
2. 크롤링하신 데이터에 대한 전처리가 부족한 것 같습니다. ( 유하준님의 두번째 주가 크롤링을 참고해주세요) 
</font>

In [1]:
# !pip install html5lib

In [1]:
import pandas as pd

### 네이버 주식 - 엘지전자 페이지

In [2]:
id_list = ['035420','066570']

In [3]:
for id_ in id_list:
    base_url = "http://finance.naver.com/item/main.nhn?code="
    target_url = base_url + id_
    
    data = pd.read_html(target_url, encoding='cp949')
   
    print(target_url)
    print(data[2])

http://finance.naver.com/item/main.nhn?code=035420
      날짜        종가        전일비      외국인        기관
0    NaN       NaN        NaN      NaN       NaN
1  04/30  359500.0  하향  7,000  +29,775 -268917.0
2  04/29  366500.0  하향  7,000   -51656 -147803.0
3  04/28  373500.0  하향  6,500   -45836 -105964.0
4  04/27  380000.0  상향  2,500   +6,893  -21864.0
5  04/26  377500.0    하향  500     -432 -128351.0
6  04/23  378000.0  하향  2,500   -17395  -63480.0
7    NaN       NaN        NaN      NaN       NaN
http://finance.naver.com/item/main.nhn?code=066570
      날짜        종가        전일비      외국인        기관
0    NaN       NaN        NaN      NaN       NaN
1  04/30  157500.0  하향  4,500    -3155   -302211
2  04/29  162000.0  하향  2,000   -98172    -22490
3  04/28  164000.0  하향  3,000   -85351   +54,484
4  04/27  167000.0  하향  2,500   -50398    +4,010
5  04/26  169500.0  상향  6,000  +70,414  +294,895
6  04/23  163500.0         보합  +74,657    +6,420
7    NaN       NaN        NaN      NaN       NaN

In [4]:
data

[                      0                                            1  \
 0  전일  162,000  162,000  고가  165,500165,500  (상한가  210,500210,500  )
 1    시가  164,000164,000         저가  157,000157,000  (하한가  113,500  )

                             2
 0   거래량  1,579,010  1,579,010
 1  거래대금  252,669  252,669  백만  ,
      매도상위       거래량    매수상위       거개량
 0     NaN       NaN     NaN       NaN
 1    한국증권  260224.0    키움증권  230176.0
 2  미래에셋대우  239213.0  미래에셋대우  222098.0
 3    키움증권  152537.0      삼성  206608.0
 4      한화  146513.0      한화  166003.0
 5      삼성  123930.0  NH투자증권  125967.0
 6  외국계추정합    7633.0  +1,469    9102.0,
       날짜        종가        전일비      외국인        기관
 0    NaN       NaN        NaN      NaN       NaN
 1  04/30  157500.0  하향  4,500    -3155   -302211
 2  04/29  162000.0  하향  2,000   -98172    -22490
 3  04/28  164000.0  하향  3,000   -85351   +54,484
 4  04/27  167000.0  하향  2,500   -50398    +4,010
 5  04/26  169500.0  상향  6,000  +70,414  +294,895
 6  04/23  163500.0         보합  +74,657    +6,420
 7    NaN       NaN        NaN      NaN       NaN,
        주요재무정보   최근 연간 실적                                    최근 분기 실적  \
        주요재무정보    2018.12    2019.12    2020.12 2021.12(E)    2019.12
        주요재무정보     IFRS연결     IFRS연결     IFRS연결     IFRS연결     IFRS연결
 0         매출액  613417.00  623062.00  632620.00  704588.00  160612.00
 1        영업이익   27033.00   24361.00   31950.00   44406.00    1018.00
 2       당기순이익   14728.00    1799.00   20638.00   31423.00   -8497.00
 3       영업이익률       4.41       3.91       5.05       6.30       0.63
 4        순이익률       2.40       0.29       3.26       4.46      -5.29
 5   ROE(지배주주)       9.03       0.22      13.23      17.69       0.22
 6        부채비율     171.84     173.12     174.79        NaN     173.12
 7        당좌비율      72.73      74.78      73.04        NaN      74.78
 8         유보율    1658.84    1634.72    1833.30        NaN    1634.72
 9      EPS(원)    6858.00     173.00   10885.00   16403.00   -4841.00
 10     PER(배)       9.08     416.75      12.40       9.60     416.75
 11     BPS(원)   79156.00   79582.00   85732.00  100501.00   79582.00
 12     PBR(배)       0.79       0.91       1.57       1.57       0.91
 13   주당배당금(원)     750.00     750.00    1200.00    1232.00        NaN
 14   시가배당률(%)       1.20       1.04       0.89        NaN        NaN
 15    배당성향(%)      10.96     434.42      11.02        NaN        NaN


       2020.03    2020.06    2020.09    2020.12 2021.03(E)
        IFRS연결     IFRS연결     IFRS연결     IFRS연결     IFRS연결
 0   147278.00  128338.00  169196.00  187809.00  177828.00
 1    10904.00    4954.00    9590.00    6502.00   11798.00
 2    10867.00     656.00    6492.00    2623.00    7280.00
 3        7.40       3.86       5.67       3.46       6.64
 4        7.38       0.51       3.84       1.40       4.09
 5        3.23       2.98       5.38      13.23        NaN
 6      162.04     157.91     177.94     174.79        NaN
 7       78.73      80.52      81.05      73.04        NaN
 8     1733.08    1735.25    1802.55    1833.30        NaN
 9     5671.00     312.00    3462.00    1440.00    4462.00
 10      17.94      25.36      19.92      12.40      35.52
 11   84434.00   84382.00   86845.00   85732.00        NaN
 12       0.57       0.75       1.06       1.57        NaN
 13        NaN        NaN        NaN        NaN        NaN
 14        NaN        NaN        NaN        NaN        NaN
 15        NaN        NaN        NaN        NaN        NaN  ,
            종목명 LG전자*066570 아남전자*008700 가온미디어*078890 팅크웨어*084730  \
 0          현재가      157500        2750        12550       15500
 1         전일대비   하향  4,500      하향  20      하향  350     하향  450
 2          등락률  하향  -2.78%  하향  -0.72%   하향  -2.71%  하향  -2.82%
 3      시가총액(억)      257745        2120         1989        1615
 4     외국인비율(%)       31.05         .93         3.78        3.07
 5       매출액(억)      187809         919         1233         561
 6      영업이익(억)        6502           9            7          61
 7    조정영업이익(억)        6502           9            7          61
 8   영업이익증가율(%)      -32.20      -84.05       -82.01       59.33
 9     당기순이익(억)        2623           9          -18          45
 10    주당순이익(원)     1439.64       11.73       -90.75      427.98
 11      ROE(%)       13.23        9.14         1.85        5.56
 12      PER(%)       14.47       39.86        65.71       19.02
 13      PBR(배)        1.84        3.58         1.16         .93

    모바일어플라이언스*087260
 0              4410
 1            하향  25
 2        하향  -0.56%
 3              1431
 4              1.09
 5               101
 6                 1
 7                 1
 8            -86.73
 9                 3
 10            10.71
 11             7.31
 12            53.13
 13             3.47  ,
           0               1
 0      시가총액  25조  7,745  억원
 1    시가총액순위         코스피 13위
 2     상장주식수       163647814
 3  액면가l매매단위   5,000원  l  1주,
              0          1
 0  외국인한도주식수(A)  163647814
 1  외국인보유주식수(B)   50817424
 2  외국인소진율(B/A)     31.05%,
            0                   1
 0  투자의견l목표주가  4.00매수  l  213,105
 1   52주최고l최저  193,000  l  53,400,
                    0                   1
 0   PERlEPS(2020.12)  14.47배  l  10,885원
 1          추정PERlEPS  11.00배  l  14,726원
 2  PBRlBPS (2020.12)   1.84배  l  85,732원
 3      배당수익률l2020.12               0.76%,
           0       1
 0  동일업종 PER  15.68배
 1  동일업종 등락률  -2.61%,
        매도잔량 호가(20분지연)      매수잔량
 0       NaN       NaN       NaN
 1    6236.0    162500       NaN
 2   11595.0    162000       NaN
 3    5441.0    161500       NaN
 4    3252.0    161000       NaN
 5   10060.0    160500       NaN
 6    7649.0    160000       NaN
 7    4208.0    159500       NaN
 8    7030.0    159000       NaN
 9    6884.0    158500       NaN
 10   3263.0    158000       NaN
 11      NaN       NaN       NaN
 12      NaN    157500   80519.0
 13      NaN    157000   74864.0
 14      NaN    156500   14476.0
 15      NaN    156000   14660.0
 16      NaN    155500    5702.0
 17      NaN    155000   17719.0
 18      NaN    154500    2167.0
 19      NaN    154000    2398.0
 20      NaN    153500    1768.0
 21      NaN    153000    2220.0
 22      NaN       NaN       NaN
 23  65618.0      잔량합계  216493.0,
             업체명       거래량        전일비
 0          삼성전자   81500.0    하향  200
 1          셀트리온  266000.0  하향  2,500
 2           카카오  113500.0  하향  3,500
 3         GS리테일   35800.0    하향  500
 4        한국조선해양  153500.0  상향  3,000
 5           NaN       NaN        NaN
 6           현대차  212000.0  하향  5,500
 7            기아   77000.0  하향  2,300
 8   KODEX 배당성..   15650.0      하향  5
 9        코오롱인더우   29700.0    하향  200
 10          HMM   39200.0    하향  750,
          업체명       거래량        전일비
 0     엑세스바이오   37950.0  상향  1,550
 1        이트론    1005.0     상향  17
 2       휴마시스   24550.0  하향  2,750
 3         씨젠   93600.0  하향  3,600
 4        수젠텍   32750.0    하향  750
 5        NaN       NaN        NaN
 6      원익IPS   50800.0    상향  400
 7   셀트리온헬스..  112200.0    하향  100
 8     휴온스글로벌   74100.0  상향  4,600
 9       바이넥스   28950.0  하향  1,950
 10      솔브레인  355800.0  상향  5,800]

In [5]:
lg = pd.read_html("http://finance.naver.com/item/main.nhn?code=066570", encoding='cp949')

In [6]:
type(lg)

list

In [7]:
len(lg)

13

In [8]:
lg[0]

,0,1,2
0,"전일 162,000 162,000","고가 165,500165,500 (상한가 210,500210,500 )","거래량 1,579,010 1,579,010"
1,"시가 164,000164,000","저가 157,000157,000 (하한가 113,500 )","거래대금 252,669 252,669 백만"

In [9]:
type(lg[0])

pandas.core.frame.DataFrame

In [10]:
lg[1]

     매도상위       거래량    매수상위       거개량
0     NaN       NaN     NaN       NaN
1    한국증권  260224.0    키움증권  230176.0
2  미래에셋대우  239213.0  미래에셋대우  222098.0
3    키움증권  152537.0      삼성  206608.0
4      한화  146513.0      한화  166003.0
5      삼성  123930.0  NH투자증권  125967.0
6  외국계추정합    7633.0  +1,469    9102.0

In [11]:
lg[2]

      날짜        종가        전일비      외국인        기관
0    NaN       NaN        NaN      NaN       NaN
1  04/30  157500.0  하향  4,500    -3155   -302211
2  04/29  162000.0  하향  2,000   -98172    -22490
3  04/28  164000.0  하향  3,000   -85351   +54,484
4  04/27  167000.0  하향  2,500   -50398    +4,010
5  04/26  169500.0  상향  6,000  +70,414  +294,895
6  04/23  163500.0         보합  +74,657    +6,420
7    NaN       NaN        NaN      NaN       NaN

In [12]:
lg[3]

       주요재무정보   최근 연간 실적                                    최근 분기 실적  \
       주요재무정보    2018.12    2019.12    2020.12 2021.12(E)    2019.12
       주요재무정보     IFRS연결     IFRS연결     IFRS연결     IFRS연결     IFRS연결
0         매출액  613417.00  623062.00  632620.00  704588.00  160612.00
1        영업이익   27033.00   24361.00   31950.00   44406.00    1018.00
2       당기순이익   14728.00    1799.00   20638.00   31423.00   -8497.00
3       영업이익률       4.41       3.91       5.05       6.30       0.63
4        순이익률       2.40       0.29       3.26       4.46      -5.29
5   ROE(지배주주)       9.03       0.22      13.23      17.69       0.22
6        부채비율     171.84     173.12     174.79        NaN     173.12
7        당좌비율      72.73      74.78      73.04        NaN      74.78
8         유보율    1658.84    1634.72    1833.30        NaN    1634.72
9      EPS(원)    6858.00     173.00   10885.00   16403.00   -4841.00
10     PER(배)       9.08     416.75      12.40       9.60     416.75
11     BPS(원)   79156.00   79582.00   85732.00  100501.00   79582.00
12     PBR(배)       0.79       0.91       1.57       1.57       0.91
13   주당배당금(원)     750.00     750.00    1200.00    1232.00        NaN
14   시가배당률(%)       1.20       1.04       0.89        NaN        NaN
15    배당성향(%)      10.96     434.42      11.02        NaN        NaN


      2020.03    2020.06    2020.09    2020.12 2021.03(E)
       IFRS연결     IFRS연결     IFRS연결     IFRS연결     IFRS연결
0   147278.00  128338.00  169196.00  187809.00  177828.00
1    10904.00    4954.00    9590.00    6502.00   11798.00
2    10867.00     656.00    6492.00    2623.00    7280.00
3        7.40       3.86       5.67       3.46       6.64
4        7.38       0.51       3.84       1.40       4.09
5        3.23       2.98       5.38      13.23        NaN
6      162.04     157.91     177.94     174.79        NaN
7       78.73      80.52      81.05      73.04        NaN
8     1733.08    1735.25    1802.55    1833.30        NaN
9     5671.00     312.00    3462.00    1440.00    4462.00
10      17.94      25.36      19.92      12.40      35.52
11   84434.00   84382.00   86845.00   85732.00        NaN
12       0.57       0.75       1.06       1.57        NaN
13        NaN        NaN        NaN        NaN        NaN
14        NaN        NaN        NaN        NaN        NaN
15        NaN        NaN        NaN        NaN        NaN

In [13]:
lg[4]

,종목명,LG전자*066570,아남전자*008700,가온미디어*078890,팅크웨어*084730,모바일어플라이언스*087260
0,현재가,157500,2750,12550,15500,4410
1,전일대비,"하향 4,500",하향 20,하향 350,하향 450,하향 25
2,등락률,하향 -2.78%,하향 -0.72%,하향 -2.71%,하향 -2.82%,하향 -0.56%
3,시가총액(억),257745,2120,1989,1615,1431
4,외국인비율(%),31.05,.93,3.78,3.07,1.09
5,매출액(억),187809,919,1233,561,101
6,영업이익(억),6502,9,7,61,1
7,조정영업이익(억),6502,9,7,61,1
8,영업이익증가율(%),-32.20,-84.05,-82.01,59.33,-86.73
9,당기순이익(억),2623,9,-18,45,3
10,주당순이익(원),1439.64,11.73,-90.75,427.98,10.71
11,ROE(%),13.23,9.14,1.85,5.56,7.31
12,PER(%),14.47,39.86,65.71,19.02,53.13
13,PBR(배),1.84,3.58,1.16,.93,3.47

In [14]:
lg[5]

          0               1
0      시가총액  25조  7,745  억원
1    시가총액순위         코스피 13위
2     상장주식수       163647814
3  액면가l매매단위   5,000원  l  1주